localhost {
    redir / /contador-calorias/

    handle /api/* {
        reverse_proxy backend:8080
    }

    handle /pgadmin* {
        reverse_proxy pgadmin:80
    }

    redir /pgadmin /pgadmin/

    handle /contador-calorias* {
        reverse_proxy frontend:80
    }
}

marcel-zimmer.online {
    redir / /contador-calorias/

    handle /api/* {
        reverse_proxy backend:8080
    }

    handle /pgadmin* {
        reverse_proxy pgadmin:80
    }

    redir /pgadmin /pgadmin/

    handle /contador-calorias* {
        reverse_proxy frontend:80
    }
}
