<div class="grid grid-cols-1 lg:grid-cols-2 gap-6 w-full">
    <div class="bg-white rounded-3xl p-6 shadow-sm border border-slate-100">
        <h3 class="font-black text-slate-800 mb-6 flex items-center justify-between text-lg">
            Refeições de Hoje
        </h3>
        <div class="space-y-4">
            @for (refeicao of refeicoes(); track refeicao.id) {
            <div class="flex items-center justify-between p-4 hover:bg-slate-50 transition-colors rounded-2xl border border-transparent hover:border-slate-100 group">
                <div class="flex items-center space-x-4">
                    <div class="w-14 h-14 rounded-2xl flex items-center justify-center text-3xl" [ngClass]="mapaRefeicoes()[refeicao.tipoRefeicao]?.cor">
                        {{ mapaRefeicoes()[refeicao.tipoRefeicao]?.icone }}
                    </div>
                    <div>
                        <h4 class="font-bold text-slate-800 text-sm italic">{{ mapaRefeicoes()[refeicao.tipoRefeicao]?.nome }}</h4>
                    </div>
                </div>
                <span class="font-black text-slate-800 text-lg">
                    {{ refeicao.calorias ?? "Calculando calorias..." }}
                    <span class="text-[10px] text-slate-400">{{ refeicao.calorias ? "KCAL" : ""}}</span>
                </span>
            </div>
            } @empty {
            <div class="p-6 text-center text-slate-500 text-lg border-2 border-dashed border-slate-100 rounded-2xl">
                Nenhuma refeição registrada hoje
            </div>
            }
        </div>
    </div>

    <div class="bg-white rounded-3xl p-6 shadow-sm border border-slate-100">
        <h3 class="font-black text-slate-800 mb-6 flex items-center justify-between text-lg">
            Exercícios de Hoje
        </h3>
        <div class="space-y-4">
            @for (exercicio of exercicios(); track exercicio.id) {
            <div class="flex items-center justify-between p-4 hover:bg-slate-50 transition-colors rounded-2xl border border-transparent hover:border-slate-100">
                <div class="flex items-center space-x-3 sm:space-x-4 min-w-0 flex-1">
                    <div class="w-14 h-14 rounded-2xl flex-shrink-0 flex items-center justify-center text-3xl" [ngClass]="mapaExercicios()[exercicio.tipoExercicio]?.cor">
                        {{ mapaExercicios()[exercicio.tipoExercicio]?.icone }}
                    </div>
                    <div class="flex flex-col justify-center min-w-0">
                        <h4 class="font-bold text-slate-800 text-sm italic truncate">{{ mapaExercicios()[exercicio.tipoExercicio]?.nome }}</h4>
                        <p class="text-[9px] text-slate-400 font-bold uppercase tracking-widest mt-0.5 truncate">{{ formatarTempo(exercicio.tempoDeExercicio) }}</p>
                    </div>
                </div>
                <div class="font-black text-slate-800 text-lg whitespace-nowrap flex-shrink-0 ml-3">
                    {{ exercicio.caloriasEstimadas }}
                    <span class="text-[10px] text-slate-400">{{ exercicio.caloriasEstimadas ? "KCAL" : "" }}</span>
                </div>
            </div>
            } @empty {
            <div class="p-6 text-center text-slate-500 text-lg border-2 border-dashed border-slate-100 rounded-2xl">
                Nenhum Exercicio registrado hoje
            </div>
            }
        </div>
    </div>
</div>